/* Common style or utilities  */
.container{
    padding: 0;
}
/* _______nav-part________  */
/* navbar */
.nav-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #4A4A4A;
}
.nav-all-link{
    font-family: 'Poppins', sans-serif;
    color: #777777;
    font-weight: 400;
    font-size: 18px;
}
.rg-button{
    font-family: 'Poppins', sans-serif;
    color:#289BDE;
    font-weight: 600;
    font-size: 20px;
}
/* navbar */
/* carousel */
.carousel-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: white;
}
.carousel-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #F4F4F4;
}
.carousel-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    color: white;
}
/* carousel */
/* _______nav-part________  */

/* _______main section start________  */
/* Discover our new courses  */
.intro-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
    width: 549px;
    height: 120px;
}
.intro-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #777777;
    width: 606px;
    height: 60px;
}
/* critical path  */
.Remove-padding{
    padding: 0;
}
.custom-card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4A4A4A;
    font-size: 23px;
}
.custom-card-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #777777;
    font-size: 15px;
}
.custom-card-price{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    color: #289BDE;
    font-size: 18px;
    margin-bottom: 0;
}
/* critical path  */
/* Discover our new courses  */

/* simple button  */
.simple-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 20px;
    color: white;
    background-color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 13px 33px;
}
/* simple button  */

/* simple card  */
.c-c-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 45px;
    color: #1D1D1D;
    width: 549px;
    height: 120px;
}
.c-c-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    width: 606px;
    height: 210px;
}
.view-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 45px;
    color: #1D1D1D;
}
.view-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    color: #777777;
}
/* simple card  */

/* Ready to join  */
/* .Ready-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 20px;
    background-color: white;
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 13px 33px;
    border: none;
}
.Ready-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 45px;
    color: #ffffff;
}
.Ready-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    font-size: 16px;
    color: #ffffff; 
} */
/* Ready to join  */

/* student feedback  */
.student-card{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 312px;
    height: 400px;
}
/* student feedback  */
/* _______main section end________  */
